body{
        color: #8c50b4;
        font-family: 'Rubik Beastly', cursive;
        padding-bottom: 20px;
        
    }
    
    .logo{
        font-family: 'Times New Roman', Times, serif;
        background: rgba(249, 218, 255, 0.329);
        width: 100%;
        display: flex;
    
        font-weight:bold;
        color: rgb(203, 162, 206);
        font-size: 170%;
        justify-content: left;

    }
    
    .topnav{
        margin-bottom: 20px;;
          width: 100%;
          height: 100px;
          justify-content: center;
          font-size: 32 pt;
          line-height: 100%;
          background-color: rgba(211, 0, 253, 0.363);
          font-size: 1.125rem;
          text-anchor: middle;
          -webkit-user-select: none;
          -moz-user-select: none;
          user-select: none
          
        }  
    
    
    .spisok{
        background-color: rgba(213, 45, 255, 0.384);
    }
    
    
    .tablitca{
        
        background-color: #dc6bff7a ;
        position: relative;;
       
    }
    
    .form{      
        background-color: rgba(232, 157, 255, 0.384); 
        position: relative;;
        
      
    }
    a{
        text-decoration: none;
    }
    
    li{
        text-decoration: none;
        list-style: none;
    }
    
    
    .graficlogo {
    padding: 5 px;
    max-width: 100%;
    box-sizing: border-box;
    }
    

    .podval{
        background: rgba(249, 218, 255, 0.829);
    }
  

    




@media screen and (min-width: 240 px) and (max-width: 360 px) {
    body{
        color: #8c50b4;
        font-family: 'Rubik Beastly';
        display: flex;
        flex-direction: column;
        flex-wrap:  wrap;
        width: 100%;
        margin: 10px 0;
        
    }
    
    .logo{
        font-family: 'Times New Roman', Times, serif;
        background: rgba(249, 218, 255, 0.329);
        width: 100%;
        display: flex;
    
        font-weight:bold;
        color: rgb(203, 162, 206);
        font-size: 170%;
        justify-content: left;
    
        display: flex;
        flex-direction: row;
        flex-wrap:  wrap;
        padding: 10px;
    }
    
    
    
    .topnav{         
        margin: 10px;
        font-size: 80%;
        background-color: rgba(211, 0, 253, 0.363);
        flex: 100%;
        order:1;
        margin: 10px;
        padding: 10px;
        text-align: left;
      }
    
    .spisok{
        background-color: rgba(213, 45, 255, 0.384);
        
    }

     .tablitca{
        background-color: #dc6bff7a ;
        width: 100%;
        
       
    }
     .form{
        background-color: rgba(232, 157, 255, 0.384);
        flex: 100%;
        order:3;
        margin: 10px;
        padding: 10px;
        text-align: left;
        
        
    }
    .formandtable {
        display: flex;
        flex-direction: column; 
        }
        .tablitca {order: 2;}
        .form{order:1}
  
    
    .graficlogo {
    padding: 5 px;
    max-width: 100%;
    box-sizing: border-box;
    }
    
    .podval{
        background: rgba(249, 218, 255, 0.829);
        width:  100%;
        margin-top:  20px;
        padding:  10px 0 10px 0;
        text-align: center;
    }
}